{% extends "layout.html" %}

{% block content %}
	<div class="col-md-12">
		<div class="row">
			{% if results.length == 0 %}
				<div class="col-md-12">
					<div class="well">
						<div class="row">
							<div class="col-md-12 text-center">
								<h3>
									No Entries Found with<br>
									"{{ query }}"
								</h3>
							</div>
						</div>
					</div>
				</div>
			{% else %}
				<div class="col-md-12">
					<div class="well result entry">
						<div class="col-md-6">
							<h3>Query: </h3>
							<p>{{ q | dump('\t') }}</p>
						</div>
						<div class="col-md-6">
							<h3>Matches:</h3>
							<p>{{ results.length }} Samples</p>
						</div>
					</div>
				</div>

				<div class="col-md-12">
					<div class="well result entry">
						<table class="table table-hover" id="search_table">
							<thead class="thead-default">
								<tr>
									<td>Z_VI</td>
									<td>RA</td>
									<td>DEC</td>
									<td>BI</td>
									<td>DR9Q</td>
									<td>DR7Q</td>
									<td></td>
								</tr>
							</thead>
							<tbody>
								{% for qso in results %}
									<tr>
										<td>{{ qso.dr9q.Z_VI }}</td>
										<td>{{ qso.dr9q.RA }}</td>
										<td>{{ qso.dr9q.DEC }}</td>
										<td>{{ qso.BAL.BI | round(4) }}</td>
										<td>{{ qso.dr9q.PLATE + "-" + qso.dr9q.MJD + "-" + qso.dr9q.FIBERID }}</td>
										{% if qso.dr7q %}
											<td>{{ qso.dr7q.PLATE + "-" + qso.dr7q.MJD + "-" + qso.dr7q.FIBER }}</td>
										{% else %}
											<td>No Data</td>
										{% endif %}
										<td>
											<a href="/qso?SID={{ qso.SID }}">View-></a>
										</td>
									</tr>
								{% endfor %}
							</tbody>
						</table>
					</div>
				</div>

				<script>
					$(document).ready(function(){
   						$('#search_table').DataTable();
					});
				</script>

				<!--{% include "results.html" ignore missing %}-->
			{% endif %}
		</div>
	</div>
{% endblock %}