{% extends "layout.html" %}

{% block content %}
	<div class="col-md-12">
		<div class="well entry">
			<h2>Enter Query</h2>
			<div class="form-group">
				<textarea class="form-control" rows="10" id="q"></textarea>
				<br>
				<button class="btn btn-default" id="search_raw">Search</button>
			</div>
		</div>

		<div class="well entry">
			<h2>Build Query</h2>
			<div class="form-group">
				<div class="row filed">
					<div class="col-md-3">
						<b>Field</b>
					</div>
					<div class="col-md-9">
						<b>Value</b>
					</div>
				</div>

				<div id="q_build">
					<div class="row field">
						<div class="col-md-3">
							<input type="text" class="form-control key">
						</div>
						<div class="col-md-9">
							<input type="text" class="form-control value">
						</div>
					</div>
				</div>
				<br>

				<div class="row">
					<div class="col-md-1">
						<button class="btn btn-default" id="add">Add Field</button>
					</div>
				</div>

				<br>
				<button class="btn btn-default" id="search">Build</button>
			</div>
		</div>

		<div class="well entry">
			<h2>How To Write Queries</h2>
			<br>
			<p>
				Queries are carried out using MongoDB's query format. A tutorial for writing these types of queries can be found <a href="https://docs.mongodb.com/manual/tutorial/query-documents/">here</a>.
			</p>
		</div>
	</div>

	<script>
		var keys = {{ keys | dump }};

		$(".key").autocomplete({
      		source: keys
    	});

		$("#search_raw").click(function(e){
			try{
				var q = JSON.parse(
					$("#q").val()
				);

				var params = [];
				
				Object.keys(q).forEach(function(k){
					params.push(k + "=" + JSON.stringify(q[k]));
				});
				
				var url = "/qso?" + params.join("&");

				window.location.href = url;
			}catch(e){
				alert("Syntax Error: Malformed Query");
			}
		});

		$("#add").click(function(e){
			$("#q_build").append(
				'<br><div class="row field">' +
					'<div class="col-md-3">' +
						'<input type="text" class="form-control key">' +
					'</div>' +
					'<div class="col-md-9">' +
						'<input type="text" class="form-control value">' +
					'</div>' +
				'</div>'
			);
		});

		$("#search").click(function(e){
			var q = {};

			$(".field").each(function(f){
				var key = $(this).find(".key").val();
				var val = $(this).find(".value").val();

				if(key && val){
					try{
						q[key] = JSON.parse(val, null, "\t");
					}catch(e){
						alert("Malformed Field");
					}
				}
			});

			$('#q').val(JSON.stringify(q));
		});
	</script>
{% endblock %}